<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr34" version="3.4.19004.1" targetFramework="net45" />
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net45" />
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
</packages>